
#no-items {
  padding: 2rem 0;
  color: lightgrey;
  font-style: italic;
}

.panel {
  padding-top: 67px;
  margin-bottom: 0 !important;
}

.panel-heading {
  position: fixed;
  width: 100%;
  margin-top: -67px;
  z-index: 100;
}

#error-message {
  margin: 0px;
}

#info-message {
  margin: 0px;
  padding: 0.5rem 2.5rem 0.5rem 1.5rem;
}

.card-content {
  padding: 12px 18px;
  -webkit-user-select: none;
}

.card-content.is-active {
  background-color: #FAFAFA;
}

.card-content .duration{
  font-size: 0.6em;
  color: #7a7a7a;
}
